# İşletim Sistemi ve IDE'lerden gelen gereksiz dosyalar
.DS_Store
*.pem
*.key
.vscode/
.idea/
.gitignore

# Genel Log ve Cache Dosyaları
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js Projeleri için Genel Kurallar (Backend, Mobile, Admin)
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

# Next.js (Admin Panel) Özel Dosyaları
.next/
out/

# React Native (Mobil) Özel Dosyaları
/android/build/
/android/app/build/
/android/app/src/main/assets/index.android.bundle
/ios/build/

# React Native Android Özel Dosyaları
# (Mevcut .gitignore içeriğinin en altına ekle)
**/android/build
**/android/.gradle
**/android/app/build
**/android/app/.cxx
